.app{
  display: flex;
  margin: auto;
  justify-content: center;
  text-align: center;

}

.dropdown select {
  background-color: rgba(212,201,201,0.75);
  width: 140px;
  height: 35px;
  padding: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  border-radius: 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background : url("https://cdn.iconscout.com/icon/free/png-256/down-keyboard-arrow-key-direction-30469.png") 95% / 11% no-repeat #fff;


} 

.dropdown {
  background-color:rgba(212,201,201,0.75);
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: -2px -1px 0px 13px rgba(212,201,201,0.75);
  -webkit-box-shadow: -2px -1px 0px 13px rgba(212,201,201,0.75);
  -moz-box-shadow: -2px -1px 0px 13px rgba(212,201,201,0.75);

} 

select:focus{
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid red;
  outline: 0;
}

select:hover{
  border: 1px solid red;

}








